@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contacts";
}
<h1>@ViewData["Title"]</h1>

<p>Developer: Charlestown Dias da Cunha</p>
<p>E-mail: <a href="mailto:cdcunha@gmail.com">cdcunha@gmail.com</a></p>
<p>Website: <a href="https://www.linkedin.com/in/charlestowndc/">https://www.linkedin.com/in/charlestowndc</a></p>
