@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Send at least two files to make the Reconcile Bank Statement</p>
    <form enctype="multipart/form-data" method="post">
    </form>
</div>
